.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 48px;
  background: #fff;
  min-width: 0;
  display: flex;
  flex-direction: column; /* Align content vertically */
  align-items: flex-start; /* Align content to the left */
}

.dashboardTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
  align-self: center; /* Center the title horizontally */
}

.alerts, .shortlists, .conversations {
  margin-bottom: 20px;
  width: 100%; /* Ensure sections take full width */
}

.shortlistItem, .conversationItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%; /* Ensure items take full width */
}

.shortlistItem a {
  color: #1b6fc3;
  text-decoration: none;
}
.conversationItem p {
  color: #a9abab;
  text-decoration: none;
}
