.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 48px;
  background: #fff;
  min-width: 0;
  display: flex;
  flex-direction: column; /* Align content vertically */
  align-items: flex-start; /* Align content to the left */
}

.dashboardTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
  align-self: center; /* Center the title horizontally */
}

.alerts {
  margin-bottom: 20px;
  width: 40%; /* Ensure sections take full width */
  border: 1px solid rgba(75, 73, 73, 0.2);
  border-radius: 8px;
  padding: 16px;
}

.shortlists, .conversations {
  margin-bottom: 20px;
  width: 100%; /* Ensure sections take full width */
}

.shortlists {
  border: 1px solid rgba(75, 73, 73, 0.2);
  border-radius: 8px;
  padding: 16px;
  width: 40%; 
}

.conversations {
  border: 1px solid rgba(75, 73, 73, 0.2);
  border-radius: 8px;
  padding: 16px;
  width: 55%;
}

.shortlistItem, .conversationItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%; /* Ensure items take full width */
}

.shortlistItem a {
  color: #1b6fc3;
  text-decoration: none;
  display: inline-block;
  text-align: right; 
  width: 100%; 
}

.conversationItem p {
  color: #a9abab;
  text-decoration: none;
}

.alertNumber {
  font-size: 1.5rem;
  font-weight: bold;
  color: #32cd32; /* Luminous green */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.alertLink {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.alertLink:hover {
  text-decoration: underline;
}
