.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.popupContent h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.popupContent table {
  margin-top: 10px;
  width: 100%;
}

.popupContent button {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.popupContent button:hover {
  background-color: #0056b3;
}
