.container-form {
  width: 100%;
  max-width: 500px;
}

.register-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1.5rem;
  transition: all 0.5s ease-in-out;
}

.register-select {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.95rem;
  background-color: #fff;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%227%22%20viewBox%3D%220%200%2012%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6%207L0%200h12L6%207z%22%20fill%3D%22%233b82f6%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.65rem auto;
}

.register-button {
  width: 50%;
  padding: 0.75rem;
  background-color: var(--button-theme);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0.5rem;
}

.register-select:focus {
  outline: none;
  border-color: #3b82f6;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.container-button.secondary {
  background-color: #ddd;
  color: #333;
}

.input-field {
  margin-bottom: 15px;
}

.input-field.error input {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: -5px;
}


.loading-spinner {
  color: #007bff;
  font-size: 16px;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
  font-weight: bold;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}


/* ==== Responsive Register Form ==== */

@media (max-width: 768px) {
  .register-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem 1.5rem;
    transition: all 0.5s ease-in-out;
  }

  .register-fields div {
    display: flex;
    flex-direction: column;
  }
}
