.landing-page {
  border-radius: 0;
}

.landing-container {
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  width: 100%;
  padding: 14px 0 146px;
  flex-direction: column;
  align-items: stretch;
}

.landing-header {
  width: 100%;
}

.header-content {
  align-self: center;
  display: flex;
  margin-left: 14px;
  width: 100%;
  max-width: 1099px;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  margin-top: 6px;
  align-items: stretch;
  gap: 40px 73px;
}

.nav-home {
  color: #000;
  font-size: 20px;
  font-family:
    "Josefin Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
  margin: 20px 0 0 250px;
  transition: border-bottom 0.1s ease-in-out;
  position: relative;
}

.nav-home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(14, 219, 14);
  transition: width 0.3s ease-in-out;
}

.nav-home:hover::after {
  width: 100%;
}

.user-profile {
  display: flex;
  align-items: stretch;
  gap: 7px;
}

.avatar {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 4px 5px 6px;
  font-family:
    "Josefin Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  width: 39px;
  height: 39px;
  text-align: center;
}

.username {
  color: #000;
  font-size: 15px;
  font-family:
    "Fira Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  align-self: start;
}
.category {
  color: #d2c4c4;
  font-size: 13px;
  font-family:
    "Fira Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  align-self: self-end;
  margin-left: -93px;
  margin-bottom: -5px;
}


.dropdown-icon {
  aspect-ratio: 0.73;
  object-fit: contain;
  object-position: center;
  width: 11px;
  margin: auto 0;
}

.header-divider {
  border-color: #847e7e;
  border-style: solid;
  border-width: 1px;
  min-height: 1px;
  margin-top: 16px;
  width: 100%;
}

.main-content {
  margin: 36px 60px -29px;
  width: 100%;
  max-width: 1000px;
}

.content-grid {
  gap: 150px;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
}

.player-discovery {
  width: 29%;
}

.player-list-secondary {
  width: 29%;
  margin-top: 30px;
}

.filter-section {
  width: 42%;
}

.section-title {
  color: #000;
  font-size: 24px;
  font-family:
    "Fira Sans",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
  text-align: center;
  margin-left: -70px;
}

@media (max-width: 991px) {
  .landing-container {
    max-width: 100%;
    padding-bottom: 100px;
  }

  .header-content {
    max-width: 100%;
  }

  .content-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .column {
    width: 100%;
    margin-left: 0;
  }

  .player-discovery,
  .player-list-secondary,
  .filter-section {
    width: 100%;
    margin-top: 40px;
  }
}
